.vote.container {
  margin-top: 30px;
}

.vote h2 {
  margin-bottom: 1rem;
}

.ant-form .ant-btn {
  margin-right: .5rem;
}

.vote-form__title {
  margin-bottom: 1rem;
}

.vote-stat + .vote-form__title {
  margin-top: 2rem;
}