@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

.layout.ant-layout {
  min-height: 100vh;
}

.ant-layout-footer {
  text-align: center;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 15px;
}

.ant-layout-content {
  position: relative;
}

/* box-card layout */
.box-card {
  border-radius: 10px;
}

.box-card .ant-card-head {
  border-radius: 10px 10px 0 0;
}
